
<nav class="navbar navbar-default navbar-dark bg-dark">
  <a class="navbar-brand" href="http://localhost:4200/">TODOLIST</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
</nav>

<main role="main" class="container">
  <br>
  <div class="row">
      <div class="col-md-12">
          {{outlet}}
      </div>
  </div>

</main>